*{
  margin: 0;
  font-family: Inter;
}
/* Header Styles */
.banner{
  width: 1480px;
  height: 670px;
  border: 0;
  margin-top: 30px;
  margin-left: 100px;
  background: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%);
  background-image: url('../images/donation7.jpg');
  background-repeat: no-repeat;
  padding-bottom: 130px;
  
}
.banner .banner-title{
    width: 826px;
    height: 158px;
    color: #ebe9e9;
    text-align: center;
    font-family: Inter;
    font-size: 65px;
    font-weight: 700;
    padding-top: 174px;
    padding-left: 307px;
    padding-right: 307px;
    padding-bottom: 20px;
}
.banner .banner-description{
  width: 690px;
  height: 56px;
  color: #FFFFFF;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  padding-left: 352px;
  padding-bottom: 46px;
}
.banner .banner-button{
  display: flex;
  justify-content: center;
}
 .btn-primary{
  height: 64px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 5px;
  background: #FF5959;
  font-size: 20px;
  font-weight: 600;
  font-family: Inter;
  padding: 18px 35px;
  border: 0;
  
}

/* main section styles */
.main{
  padding-top: 130px;
  padding-left: 200px;
  background: #FFF;
}
.donate .donate-title{
  color: #121212;
  padding-left: 568px;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 25px;

}
.donate .donate-description{
  width: 691px;
  height: 56px;
  color: #707070;
  font-size: 18px;
  font-weight: 400;
  padding-left: 375px;
  padding-bottom: 50px;
}
.donate .donate-package{
  display: flex;
  justify-content: center;
  gap: 35px;
  padding-bottom: 60px;
}
.donate-package .donate-package-list{
  width: 135px;
  height: 123px;
  border-radius: 5px;
  background: #FAFAFA;
}
.donate-package .donate-package-list-d{
  width: 135px;
  height: 123px;
  border-radius: 5px;
  border: 2px solid #FF5959;
  background: #FEE;
}
.donate-package .donate-package-list .list-amount{
    width: 86px;
    height: 36px;
    color: #707070;
    /* text-align: center; */
    font-size: 30px;
    font-weight: 700;
    padding: 43px 5px 44px 24px;
}
.donate .donate-package .donate-package-list-d .list-amount-d{
  width: 86px;
  height: 36px;
  font-size: 30px;
  font-weight: 700;
  padding: 43px 5px 44px 24px;
}
.donate .amount{
  display: flex;
  justify-content: center;
  
}
.donate .amount .other-amount{
  color: #B3B3B3;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
/* horizontal line*/
hr{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.donate .amount-button{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 130px;
}

/* Donate Plan section styles */
.donate-plan{
  padding-bottom: 182px;
}
.donate-plan .donate-plan-items{
  display: flex;
  padding-left: 157px;
  gap: 25px;
  
}
.donate-plan .donate-plan-title{
  width: 357px;
  height: 54px;
  color: #121212;
  padding-left: 542px;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 20px;
}
.donate-plan .donate-plan-description{
  width: 691px;
  height: 56px;
  color: #707070;
  font-size: 18px;
  font-weight: 400;
  padding-left: 375px;
  padding-bottom: 50px;
}
.donate-plan-items .donate-plan-item-1{
  width: 360px;
  height: 352px;
  border-radius: 5px;
background: rgba(79, 157, 166, 0.10);
}
.donate-plan-items .donate-plan-item-2{
  width: 360px;
  height: 352px;
  border-radius: 5px;
  background: rgba(255, 89, 89, 0.10);

}
.donate-plan-items .donate-plan-item-3{
  width: 360px;
  height: 352px;
  border-radius: 5px;
  background: #FFF4D6;
}
.donate-plan-items .donate-plan-item-1 .plan-item-title{
  width: 204px;
  height: 36px;
  color: #121212;
  font-size: 24px;
  font-weight: 600;
  padding-left: 23px;
  padding-bottom: 16px;
}
.donate-plan-items .donate-plan-item-2 .plan-item-title{
  width: 230px;
  height: 36px;
  color: #121212;
  font-size: 24px;
  font-weight: 600;
  padding-left: 20px;
  padding-bottom: 16px;
}
.donate-plan-items .donate-plan-item-3 .plan-item-title{
  width: 250px;
  height: 36px;
  color: #121212;
  font-size: 24px;
  font-weight: 600;
  padding-left: 23px;
  padding-bottom: 16px;
}
.donate-plan-items .donate-plan-item-1 .plan-item-description{
  width: 315px;
  height: 101px;
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  padding-left: 25px;
}
.donate-plan-items .donate-plan-item-2 .plan-item-description{
  width: 315px;
  height: 101px;
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  padding-left: 25px;
}
.donate-plan-items .donate-plan-item-3 .plan-item-description{
  width: 315px;
  height: 101px;
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  padding-left: 25px;
}
.donate-plan .icon{
  width: 60px;
  height: 50px;
  padding-left: 23px;
  padding-top: 60px;
  padding-bottom: 32px;
}

/* Contribute section styles */
.contribute{
  display: flex;
  padding-bottom: 67px;
  justify-content: 10px;
}
.contribute .contribute-plan .contribute-plan-title{
  width: 420px;
  height: 108px;
  color: #121212;
  font-family: Inter;
  font-size: 45px;
  font-weight: 700;
  padding-left: 157px;
  padding-bottom: 20px;
}
.contribute .contribute-plan .contribute-plan-description{
  width: 482px;
  height: 84px;
  color: #707070;
  font-size: 18px;
  font-weight: 400;
  padding-left: 157px;
  padding-bottom: 20px;
}
.contribute .button-contribute{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.contribute .button-contribute .btn-contribute{
  width: 230px;
  height: 56px;
  border-radius: 5px;
  background: #FF5959;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  border: 0;
}
.contribute .contribute-image{
  width: 825px;
  height: 550px;
}

/* Update plan styles */
.update-plan .update-plan-title{
  width: 353px;
  height: 54px;
  color: #121212;
  font-family: Inter;
  font-size: 45px;
  font-weight: 700;
  padding-left: 544px;
  padding-bottom: 20px;
}
.update-plan .update-plan-description{
  width: 691px;
  height: 56px;
  color: #707070;
  font-size: 18px;
  font-weight: 400;
  padding-left: 375px;
  padding-bottom: 50px;
}

/* Subscribe styles */
.subscribe-section{
  width: 809px;
  height: 200px;
  background: #FFF4D6;
  border: 0;
  margin-left: 316px;
  margin-bottom: 130px;
}
.subscribe{
  display: flex;
  padding-top: 76px;
  padding-left: 189px;
}
 .subscribe-input input[type="email"]{
  width: 275px;
  height: 48px;
  background: #D9D9D9;
  border: 0; 
  padding-left: 5px; 
}
.subscribe .subscribe-button .sub-button-title{
  width: 157px;
  height: 48px;
  background: #FF5959;
  border: 0;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}

/* Footer styles */
